<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ea ducimus at quisquam iste quidem animi necessitatibus obcaecati? Autem atque optio blanditiis ea nemo id, amet sint ad alias perspiciatis.</p>
    </div>
</div>